<!DOCTYPE html>
<html class="h-100" lang="fr">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="title" content="{{ site_name }}">
    <meta name="description" content="{{ site_name }}">
    <meta name="keywords" content="{{ site_keywords }}">
    <meta name="author" content="{{ site_author }}">
        <meta name="generator" content="Symfony 6">
        <meta name="robots" content="follow, index">
        <link rel='dns-prefetch' href='//fonts.googleapis.com' />
        <link rel='dns-prefetch' href='//s.w.org' />
        <link rel="alternate" type="application/rss+xml" title="Darkcraft Project &raquo; Flux" href="" />
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/favicon.ico') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('images/favicon.ico') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('images/favicon.ico') }}">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Font awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title> {{ site_name }}</title>
    <!-- Style -->
    {% block javascripts %}
    {% endblock %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body class="d-flex flex-column h-100">
    <div class="sl-nav">
       langue:
        <ul>
            <li><b></b> <i class="fa fa-angle-down" aria-hidden="true"></i>
                <div class="triangle"></div>
                <ul>
                    <li><i class="sl-flag flag-fr"><div id="germany"></div></i> <span class="active"><a href="{{ path('default_language', {"locale": "fr"}) }}">French</a></span></li>
                    <li><i class="sl-flag flag-usa"><div id="germany"></div></i> <span><a href="{{ path('default_language', {"locale": "en"}) }}">English</a></span></li>
                </ul>
            </li>
        </ul>
    </div>
</div>


{% block header %}
{% endblock %}

<main class="flex-shrink-0">
    <div class="container my-4" data-aos="fade-up">
        {% block body %}{% endblock %}
    </div>
</main>
{% block footer %}
{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
